

html {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0; /* Pour supprimer les marges par défaut */
    padding: 0; /* Pour supprimer les marges internes par défaut */
    overflow: hidden; /* Pour éviter les débordements */
    background-color: black;
}


#board {
    background-color: lightskyblue;
    border-bottom: 1px solid black;
}

#body_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width:100vw ;
    background-color: red;
}
#container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 80vw;
    background-color: blue;
}



