

html {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0; /* Pour supprimer les marges par défaut */
    padding: 0; /* Pour supprimer les marges internes par défaut */
    overflow: hidden; /* Pour éviter les débordements */
}


#board {
    background-color: lightskyblue;
    border-bottom: 1px solid black;
    margin-left: 13vw;
}

#body_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width:100vw ;
}
#container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 80vw;
    background-color: #86b2ff;
    gap: 3vw;
}


#info{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10vw;
}
button{
    background-color: white;
    color: black;
    height: 3vw;
    width: fit-content;
    border-radius: 5px;
    font-size: 2em;
}
button:hover{
    background-color: #f2f2f2;
}


#middle{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center ;
}
#gamesselector{

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.games {
    width: 5vw;
    height: 5vw;
    border-radius: 5px;
    border: solid 2px white;
    
    background-repeat: no-repeat;    
    
}
#game1{
    background-image: url("../../img/games/tictac.png");
    background-size:contain;
    background-position: -50%;
}
#game2{
    background-image: url("../../img/games/blackjack.png");
    background-size:cover;
}
#game3{
    background-image: url("../../img/games/betGame.jpg");
    background-size:cover;
}




